.admin-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  padding: 15px 30px;
  font-family: sans-serif;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #333;
  border-radius: 10px;
  color: #333;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.navbar-links li a:hover {
  background-color: #333;
  color: #fff;
}

/* Form styling */
.admin-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: auto;
}

.admin-form input,
.admin-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.admin-form button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.admin-form button:hover {
  background-color: #555;
}

/* Product cards */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  background: #f9f9f9;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}


.admin-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.edit-btn,
.delete-btn {
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left:40px;
}
.edit-btn {
  background-color: #28a745;
  color: white;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.edit-btn:hover {
  background-color: #218838;
}

.delete-btn:hover {
  background-color: #c82333;
}
